*{
    box-sizing: border-box;
}

body{
    background-color: #1b1b1b;
    color: white;
    margin: 0;
}
header{
    display: flex;
    flex-wrap: row nowrap;
    justify-content:space-between;
    /* background-color: green; */
     align-items:  center; 
}
.movie{
    flex: 0 0 60%;
}

.search-text{

    background-color: white;
    color: black;
    height:30px;
    margin-left: 8px;
    border: none;
    border-radius: 4px;

}

.search-btn{
    background-image: url('./img/search.png');
    background-size:contain;
    background-position: center;
    width: 40px;
    height:40px;
    margin-left: 8px;
    border: none;
    border-radius: 4px;
 

}
ul{
    display: grid;
    grid-template-columns:repeat(5,1fr);  
    grid-template-rows:repeat(5,1fr);

}
#api{
    display: inline-grid;
    /* background-color: rgb(18, 16, 16); */
object-fit: cover;

}


.title1{
    text-align: right;
}